.time {
    font-size: 30px;
    color: #008822;
    background-color: #000000;
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: 50px;
}
.points {
    font-size: 30px;
    color: #aa0066;
    background-color: #000000;
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: 50px;
}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
}
   