.time {
    font-size: 30px;
    color: #008822;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 800px;
    height: 50px;
}
.points {
    font-size: 30px;
    color: #aa0066;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 800px;
    height: 50px;
}

.fullscreen {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: #000000;
    color: #0055aa;
    z-index: 1000;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
}

.welcome {
    font-size: 30px;
    color: #0088cc;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 800px;
    height: 800px;
}