.time {
    font-size: 30px;
    color: #008822;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 800px;
    height: 50px;
}
.points {
    font-size: 30px;
    color: #aa0066;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 800px;
    height: 50px;
}

.fullScreen {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: #000000;
    border: none;
    color: #0055aa;
    z-index: 1000;
}

.start {
    font-size: 12px;
    color: #00aa00;
    background-color: #000000;
    font-weight: bold;
    display: block;
    border: none;
    margin: auto;
    width: 80px;
    height: 50px;
    top: 80%;
    left: 5%;
    position: fixed;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.welcome {
    font-size: 22px;
    color: #0088cc;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 800px;
    height: 800px;
}

.copyright {
    font-size: 16px;
    color: #00aa99;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 800px;
    height: 50px;
}

.sirrobin {
    font-size: 12px;
    color: #00aa99;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 120px;
    height: 60px;
    position: fixed;
    top: 50px;
    right: 5px;
    border: none;
}

.ballAmount{
    font-size: 12px;
    color: #00aa99;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 120px;
    height: 60px;
    position: fixed;
    top: 120px;
    right: 5px;
    border: none;
}

.level {
    font-size: 12px;
    color: #00aa99;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 120px;
    height: 60px;
    position: fixed;
    top: 190px;
    right: 5px;
    border: none;
}

.ding1 {
    font-size: 18px;
    color: #7ed4cb;
    background-color: #030d3a;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 480px;
    height: 120px;
    position: fixed;
    right: 30px;
    top: 30px;
    border: none;
}

.ding2 {
    font-size: 18px;
    color: #7ed4cb;
    background-color: #030d3a;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 480px;
    height: 120px;
    position: fixed;
    left: 30px;
    top: 30px;
    border: none;
}

.ding3 {
    font-size: 18px;
    color: #7ed4cb;
    background-color: #030d3a;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 480px;
    height: 120px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    border: none;
}

.license {
    font-size: 12px;
    color: #00aa99;
    background-color: #000000;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 120px;
    height: 60px;
    position: fixed;
    bottom: 200px;
    right: 30px;
    border: none;
}